@charset "UTF-8";

* {
   padding: 0px;
   margin: 0px;
}


body{
   background-color: black;
   background: url(imagens/fundo-madeira.jpg) bottom center no-repeat fixed;
}

img#celular{
   
   
}



